<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css">
</head>

<p class="text-right"><i class="icon-user"></i> {{ username }} | <a href="/exit/logout">Logout</a></p>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">{{ header }} &copy;</a>
        <ul class="nav">
            <li class="active">
                <a href="#">Home</a>
            </li>
            <li>
                <a href="testpage.html">Add Transaction</a>
            </li>
            <li>
                <a href="#">My Groups</a>
            </li>
        </ul>
    </div>
</div>
</body>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
</html>